.fieldsDiv {
    text-align: center;
    background-color: rgb(162, 206, 214);
    color: rgb(13, 11, 151);
    height: 170px;
    font-size: 25px;
    padding-top: 15px;
}

.longlinkDiv {
    text-align: left;
    width: 50%;
    font-weight: 900;
    display: inline-block;
}

.shortenButtonDiv {
    width: 20%;
    display: inline-block;
}

.myButton {
    font-weight: bolder;
    font-size: 20px;
}

.btn-shorten {
    margin-left: 4%;
}

.shortlinkDiv {
    width: 71%;
    margin-left: 1%;
    margin-top: 10px;
    display: inline-block;
}

.tab {
    margin: 25px 2% 5% 2%;
}

.myTable {
    border-collapse: separate;
    border: solid black 2px;
    border-radius: 10px;
    -moz-border-radius: 15px;
    table-layout: fixed;
    width: 100%;
}


.myThead {
    background-color: rgb(42, 112, 153);
    color: azure;
}

.myRow:hover {
    background-color: rgb(185, 218, 224);
}

.myTheadCol {
    border-bottom: solid black 5px;
    overflow: hidden;
}

.myCol {
    border-top: solid black 1px;
    border-bottom: solid black 1px;
    border-left: solid black 2px;
    overflow: hidden;
}

.myColDate {
    width: 10%;
}
.myColValid {
    width: 7%;
}

.myColUrlLong {
    width: 50%;
}

.myColUrlShort {
    width: 23%;
}

.myColNum {
    width: 3%;
}

.myColClick {
    width: 7%;
}

.linkGreen {
    color: rgb(19, 160, 15);
    font-weight: bolder
}

a.disabled {
    pointer-events: none;
    cursor: default;
}

input.disabled{
    border: solid rgb(226, 22, 15) 2px;
}

input.enabled{
    border: solid rgb(35, 180, 22) 2px;
}