<div class="main">
<div class="fieldsDiv">

  <div class="longlinkDiv">
    <label>Shorten your links:</label>
    <input type="text" class="form-control" placeholder="Enter long url to shorten">
  </div>
  <div class="shortenButtonDiv">
    <button class="btn btn-info btn-block btn-shorten">Shorten Link</button>
  </div>
  <div class="shortlinkDiv">
    <input type="text" class="form-control" value="your_short_url" disabled>
  </div>


</div>

<div class="tab">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Original URL</th>
        <th scope="col">Short URL</th>
        <th scope="col">Created On</th>
        <th scope="col">Clicks#</th>
      </tr>
    </thead>
    <tbody>
      
    </tbody>
  </table>

</div>

</div>